doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'
				)
		
	body
		div.wrapper
			block content
		
			script(src='/javascripts/js.js')